.arrow-down {
  width: 0;
  height: 0;
  border-left: 50px solid transparent;
  border-right: 50px solid transparent;
  border-top: 300px solid;
  box-sizing: border-box;
}
.arrow-up {
  width: 0;
  height: 0;
  border-left: 50px solid transparent;
  border-right: 50px solid transparent;
  border-bottom: 300px solid;
  box-sizing: border-box;
}
.red {
  border-top-color: darkred;
  border-bottom-color: darkred;
}
.black {
  border-bottom-color: black;
  border-top-color: black;
}

.chip-white {
  background-color: ivory;
}
.chip-black {
  background-color: brown;
}
.chip {
  position: absolute;
  top: 0;
  left: 25px;
  border-radius: 100%;
  border-color: black;
  border-style: solid;
  width: 55px;
  height: 55px;
}

.vertical-center {
  margin: 0;
  position: absolute;
  top: 50%;
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
}
