.arrow-down {
  width: 0;
  height: 0;
  border-left: 50px solid transparent;
  border-right: 50px solid transparent;
  border-top: 300px solid;
  box-sizing: border-box;
}
.arrow-up {
  width: 0;
  height: 0;
  border-left: 50px solid transparent;
  border-right: 50px solid transparent;
  border-bottom: 300px solid;
  box-sizing: border-box;
}
.red {
  border-top-color: darkred;
  border-bottom-color: darkred;
}
.black {
  border-bottom-color: rgb(39, 23, 4);
  border-top-color: rgb(39, 23, 4);
}

.possible-target{
background-color:grey;
}

.chip-white {
  background-color: ivory;
}
.chip-black {
  background-color: brown;
}
.chip {
  position: absolute;
  top: 0;
  left: 25px;
  border-radius: 100%;
  border-color: black;
  border-style: solid;
  width: 55px;
  height: 55px;
}
.selected {
  opacity: 0.5 !important;
}

.side {
  height: 600px;
  width: 100px;
  background-color: burlywood;
  position: relative;
  display: inline-block;
}

.vertical-align {
  margin: 0;
  position: absolute;
  top: 50%;
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
}
.verticalBarSmall {
  display: inline-block;
  width: 60px;
  height: 300px;
  background-color: black;
}

.board {
  /* position: relative; */
  display: block;
  width: max-content;
  height: max-content;
  border: solid;
  border-width: 12px;
  font-size: 0;
}
