.arrow-down {
  width: 0;
  height: 0;
  border-left: 50px solid transparent;
  border-right: 50px solid transparent;
  border-top: 300px solid;
  box-sizing: border-box;
}
.arrow-up {
  width: 0;
  height: 0;
  border-left: 50px solid transparent;
  border-right: 50px solid transparent;
  border-bottom: 300px solid;
  box-sizing: border-box;
}
.red {
  border-top-color: darkred;
  border-bottom-color: darkred;
}
.black {
  border-bottom-color: black;
  border-top-color: black;
}

.chip-white {
  position: absolute;
  top: 0;
  left: 25px;
  /* right: 0; */
  background-color: ivory;

  border-radius: 100%;
  border-color: black;
  border-style: solid;
  width: 55px;
  height: 55px;
}
